<html>
<head>
    <title>CoffeeTime</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Configure SystemJS-->

    <link href="/dist/css/coffe-time.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
</head>
<!-- 3. Display the application -->
<body>
<coffee-time>Loading...</coffee-time>


<script src="/node_modules/zone.js/dist/zone.js"></script>
<script src="/node_modules/reflect-metadata/Reflect.js"></script>
<script src="/dist/bundle.min.js"></script>

</body>
</html>
